proj/DIY/.Xil
proj/DIY/netlist
*.log
proj/DIY/netlist
*.log
proj/Viting/Morph/morph_1/.autopilot
cppIdea/.vs
proj/Viting/Morph/morph_1
proj/Viting/Morph/.apc
*.dmp
proj/Vit_stream/axis_morph_vit/.apc
proj/Vit_stream/axis_morph_vit/.settings
